/* TailwindCSS Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --green_base: 74, 222, 128; /*rgb(74, 222, 128)*/
  --green_dark: 37, 111, 64; /*rgb(37, 111, 64)*/
  --yellow_base: 250, 204, 21; /*rgb(250, 204, 21)*/
  --yellow_dark: 125, 102, 10; /*rgb(125, 102, 10)*/
  --blue_base: 78, 176, 241; /*rgb(78, 176, 241)*/
  --blue_dark: 29, 65, 123; /*rgb(29, 65, 123)*/
  --red_base: 248, 113, 113; /*rgb(248, 113, 113)*/
  --red_dark: 124, 56, 56; /*rgb(124, 56, 56)*/
  --indigo_base: 129, 140, 248; /*rgb(129, 140, 248)*/
  --indigo_dark: 65, 70, 124; /*rgb(65, 70, 124)*/
  --gray_1: 9, 9, 13; /*rgb(9, 9, 13)*/
  --gray_2: 16, 16, 25; /*rgb(16, 16, 25)*/
  --gray_3: 30, 30, 40; /*rgb(30, 30, 40)*/
  --gray_4: 41, 41, 57; /*rgb(41, 41, 57)*/
  --gray_5: 48, 48, 57; /*rgb(50, 50, 62)*/
  --gray_6: 73, 73, 89; /*rgb(73, 73, 89)*/
  --gray_7: 96, 96, 105; /*rgb(96, 96, 105)*/
  --gray_8: 125, 125, 160; /*rgb(125, 125, 150)*/
  --gray_9: 150, 150, 180; /*rgb(150, 150, 180)*/
  --gray_10: 209, 213, 219; /*rgb(209, 213, 219)*/
}

/* Basic Setup */
html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
