.tab {
  background: radial-gradient(at top, rgb(var(--gray_6)), rgb(var(--gray_4)));
}

.tab-left {
  background: radial-gradient(
    at bottom right,
    rgb(var(--gray_6)),
    rgb(var(--gray_3))
  );
}
.tab-left:hover {
  background: radial-gradient(
    at bottom right,
    rgb(var(--gray_7)),
    rgb(var(--gray_5)),
    rgb(var(--gray_3))
  );
}
.tab-left-active {
  background: radial-gradient(
    at bottom right,
    rgb(var(--gray_7)),
    rgb(var(--gray_3))
  );
}

.tab-right {
  background: radial-gradient(
    at bottom left,
    rgb(var(--gray_6)),
    rgb(var(--gray_3))
  );
}
.tab-right:hover {
  background: radial-gradient(
    at bottom left,
    rgb(var(--gray_7)),
    rgb(var(--gray_5)),
    rgb(var(--gray_3))
  );
}
.tab-right-active {
  background: radial-gradient(
    at bottom left,
    rgb(var(--gray_7)),
    rgb(var(--gray_3))
  );
}
