.nav-button-gray {
  background: conic-gradient(
    rgba(var(--gray_8)),
    rgba(var(--gray_8), 0.8),
    rgba(var(--gray_8)),
    rgba(var(--gray_8), 0.8),
    rgba(var(--gray_8))
  );
  border-color: rgba(var(--gray_3), 0.95);
}

.nav-button-green {
  background: conic-gradient(
    rgba(var(--green_base)),
    rgba(var(--green_base), 0.8),
    rgba(var(--green_base)),
    rgba(var(--green_base), 0.8),
    rgba(var(--green_base))
  );
  border-color: rgba(var(--green_dark), 0.95);
}

.nav-button-blue {
  background: conic-gradient(
    rgba(var(--blue_base)),
    rgba(var(--blue_base), 0.8),
    rgba(var(--blue_base)),
    rgba(var(--blue_base), 0.8),
    rgba(var(--blue_base))
  );
  border-color: rgba(var(--blue_dark), 0.95);
}

.nav-button-yellow {
  background: conic-gradient(
    rgba(var(--yellow_base)),
    rgba(var(--yellow_base), 0.8),
    rgba(var(--yellow_base)),
    rgba(var(--yellow_base), 0.8),
    rgba(var(--yellow_base))
  );
  border-color: rgba(var(--yellow_dark), 0.95);
}

.nav-button-red {
  background: conic-gradient(
    rgba(var(--red_base)),
    rgba(var(--red_base), 0.8),
    rgba(var(--red_base)),
    rgba(var(--red_base), 0.8),
    rgba(var(--red_base))
  );
  border-color: rgba(var(--red_dark), 0.95);
}

.nav-button-indigo {
  background: conic-gradient(
    rgba(var(--indigo_base)),
    rgba(var(--indigo_base), 0.8),
    rgba(var(--indigo_base)),
    rgba(var(--indigo_base), 0.8),
    rgba(var(--indigo_base))
  );
  border-color: rgba(var(--indigo_dark), 0.95);
}
