.nav-button-gray {
  background: radial-gradient(
    rgba(var(--gray_8), 0.95),
    rgba(var(--gray_8), 0.65)
  );
  border-color: rgba(var(--gray_3), 0.95);
}
.nav-button-gray:hover {
  background: radial-gradient(
    rgba(var(--gray_8), 0.95),
    rgba(var(--gray_8), 0.85)
  );
}

.nav-button-green {
  background: radial-gradient(
    rgba(var(--green_base), 0.95),
    rgba(var(--green_base), 0.65)
  );
  border-color: rgba(var(--green_dark), 0.95);
}
.nav-button-green:hover {
  background: radial-gradient(
    rgba(var(--green_base), 0.95),
    rgba(var(--green_base), 0.85)
  );
}

.nav-button-blue {
  background: radial-gradient(
    rgba(var(--blue_base), 0.95),
    rgba(var(--blue_base), 0.65)
  );
  border-color: rgba(var(--blue_dark), 0.95);
}
.nav-button-blue:hover {
  background: radial-gradient(
    rgba(var(--blue_base), 0.95),
    rgba(var(--blue_base), 0.85)
  );
}

.nav-button-yellow {
  background: radial-gradient(
    rgba(var(--yellow_base), 0.95),
    rgba(var(--yellow_base), 0.65)
  );
  border-color: rgba(var(--yellow_dark), 0.95);
}
.nav-button-yellow:hover {
  background: radial-gradient(
    rgba(var(--yellow_base), 0.95),
    rgba(var(--yellow_base), 0.85)
  );
}
.nav-button-red {
  background: radial-gradient(
    rgba(var(--red_base), 0.95),
    rgba(var(--red_base), 0.65)
  );
  border-color: rgba(var(--red_dark), 0.95);
}
.nav-button-red:hover {
  background: radial-gradient(
    rgba(var(--red_base), 0.95),
    rgba(var(--red_base), 0.85)
  );
}

.nav-button-indigo {
  background: radial-gradient(
    rgba(var(--indigo_base), 0.95),
    rgba(var(--indigo_base), 0.65)
  );
  border-color: rgba(var(--indigo_dark), 0.95);
}
.nav-button-indigo:hover {
  background: radial-gradient(
    rgba(var(--indigo_base), 0.95),
    rgba(var(--indigo_base), 0.85)
  );
}
